/* styles.css */
.custom-input {
  background-color: rgb(240, 212, 102);
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 16px;
    width: 200px;
    border-radius: 4px;
    /* Agrega más estilos según tus preferencias */
  }
  .custom-input2 {
   
      border: 1px solid #ccc;
      padding: 8px;
      font-size: 16px;
      width: 200px;
      border-radius: 4px;
      /* Agrega más estilos según tus preferencias */
    }