.navbar {
   justify-content: space-between;
    display: flex;
    padding: 0 4rem;
    align-items: center;
}
.navbar ul {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}
.navbar ul li{
    list-style: none;
    display: flex;

}