
.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
  grid-gap: 10px; /* Espacio entre cuadros */
  position: relative;
}

.square {
  background-color: rgba(242, 242, 242, 0.568);
  width: 120px; /* Ancho de cada cuadro */
  height: 120px; /* Alto de cada cuadro */
  border: 2px solid #eee;
  border-radius: 5px;
  display:grid ;
  place-items: center;
  cursor: pointer;
  font-size: 48px;
}

