/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/posts/tictactoe/Board/style.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
  grid-gap: 10px; /* Espacio entre cuadros */
  position: relative;
}

.square {
  background-color: rgba(242, 242, 242, 0.568);
  width: 120px; /* Ancho de cada cuadro */
  height: 120px; /* Alto de cada cuadro */
  border: 2px solid #eee;
  border-radius: 5px;
  display:grid ;
  place-items: center;
  cursor: pointer;
  font-size: 48px;
}


/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/posts/tictactoe/style.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
/* styles.css */
.custom-input {
  background-color: rgb(240, 212, 102);
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 16px;
    width: 200px;
    border-radius: 4px;
    /* Agrega más estilos según tus preferencias */
  }
  .custom-input2 {
   
      border: 1px solid #ccc;
      padding: 8px;
      font-size: 16px;
      width: 200px;
      border-radius: 4px;
      /* Agrega más estilos según tus preferencias */
    }
